.deletebtn {
    float: right; 
    font-size: 12px;
}
.agregar-obra-button{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 18px;
}

#guardar{
  margin-top: 10px;
}
#agregar{
  display: block;
  margin-top: 10px;
  margin-left: auto;
}
#obras-agregadas{
  width: 30%;
  font-size: 12px;
  margin-left: auto;
  margin-top: 5px;
}

.obras{
  margin-top: 20px;
}
select{
  display: block;
  width: 50%;
  margin-right: auto;
  padding: 5px;
}

p{
  margin-bottom: 5px;
  margin-top: 7px;
}

.list-group-item{ 
  border: 1px solid blue;
}

.input-pago{
  margin-bottom: 12px;
}

.input-cantidad{
  width: 50%;
}

.ver-pedidos{
  margin-left: 15px;
  margin-right: 15px;
  background-color: #4CAF50;
}

.div-pedido{
  border: 1px solid black;
  margin-top: 5px;
  padding: 5px;
}

.div-cen{
  margin: auto;
}

.cerrar-btn{
  margin-top: 10px;
}
.cerrar-sesion-btn{
  background-color: grey;
  margin-left: 15px;
}


button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}